<div class="p-4 mt-2 filter-container  flex flex-col mx-4 z-10 rounded bg-filter">
    <div class="grid grid-cols-4 items-center gap-4">
        <div class="flex-col  flex">
            <span class="text-sm text-filterLabel">
                Child
            </span>
            <select class="border outline-none border-filterBorder bg-white py-2 mt-2 rounded-md">
                <option>Select child</option>
            </select>
        </div>
        <div class="flex  flex-col">
            <span class="text-sm text-filterLabel">
                Payee
            </span>
            <select class="border outline-none border-filterBorder bg-white py-2 mt-2 rounded-md">
                <option>Select payee</option>
            </select>
        </div>
        <div class="flex items-center mt-4">
            <input class="w-4 h-4" type="checkbox" value="">
            <span class="text-filterText text-sm ml-5">
                Include those parents who are <br /> in credit
            </span>
        </div>
        <div class="flex items-center mt-4 justify-around">
            <button class="bg-sidebar px-3 py-2 rounded-lg text-white">
                Search
            </button>
            <button class="bg-red-700 w-11 h-11 flex justify-center items-center rounded-full">
                <img src="/assets/icon/refresh.svg" alt="refresh" />
            </button>
            <button *ngIf="!active" (click)="onFilterOpen(true)"
                class="bg-iconColor rounded-full flex justify-center items-center w-11 h-11">
                <img src="/assets/icon/down.svg" alt="down" />

            </button>
            <button *ngIf="active" (click)="onFilterOpen(false)"
                class="bg-iconColor rounded-full flex justify-center items-center w-11 h-11">
                <img src="/assets/icon/up.svg" alt="up" />

            </button>
        </div>
    </div>
    <div *ngIf="active" class="grid grid-cols-4 mt-3 items-center gap-4">
        <div class="flex-col  flex">
            <span class="text-sm text-filterLabel">
                Start Date
            </span>
            <input class="border outline-none border-filterBorder bg-white py-2 mt-2 rounded-md" type="date"/>
        </div>
        <div class="flex  flex-col">
            <span class="text-sm text-filterLabel">
                End Date
            </span>
            <input class="border outline-none border-filterBorder bg-white py-2 mt-2 rounded-md" type="date"/>
        </div>
        <div class="flex col-span-2 mt-6 items-center">
            <input class="w-4 h-4 mr-2" type="checkbox" value="">
            <span class="text-filterText text-sm">
                Include $0 accounts
            </span>
            <input class="w-4 h-4 ml-6 mr-2" type="checkbox" value="">
            <span class="text-filterText text-sm">
                Winz records
            </span>
            <input class="w-4 h-4 ml-6 mr-2" type="checkbox" value="">
            <span class="text-filterText text-sm">
                Monthly
            </span>
            <input class="w-4 h-4 ml-6 mr-2" type="checkbox" value="">
            <span class="text-filterText text-sm">
                Weekly
            </span>
        </div>
        
    </div>
</div>