
.webSidebar{
  width: 20%;
}
.appSidebar{
  display: none;
}
@media only screen and (max-width: 768px) {
   
  .appSidebar{
   width: 100%;
   display: flex;
  }
  .webSidebar{
    display: none;
  }
  .layoutContainer{
      padding: 0px;
    }
  }