<div class="h-screen flex overflow-hidden flex-col">
  <!-- header -->
  
    <app-header></app-header>
  <!-- body -->
  <div class="flex w-full flex-1 ">
    <!-- sidebar starts -->
    <div class=" webSidebar flex-col flex bg-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div *ngIf="isSidebar" class=" appSidebar flex flex-col w-full  bg-sidebar">
      <app-sidebar [isSidebar]="isSidebar"></app-sidebar>
    </div>
    <!-- sidebar ends -->

    <!-- main-content -->
    <div 
    [ngStyle]="{display:isSidebar ? 'none' : ''} "
    class="w-4/5 bg-mainBody layoutContainer flex-1 max-h-full overflow-scroll px-6 py-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>