<div class="px-3  py-2 sticky top-0 webHeader  bg-header">
  <div class="w-1/5 pl-3 justify-between flex">
    <img class="object-cover" src="/assets/logo/juniorlogs.svg" alt="logo" />
    <div class="border-l-2 mr-2 border-border  my-2"></div>
  </div>

  <div class="flex items-center w-4/5 justify-between">
    <div class="flex flex-1">
      <span class="text-sm ml-2  font-bold">System portal :</span>
      <span class="text-sm ml-1">Finance & Account > Account</span>
    </div>
    <div class="flex items-center">
      <img class="ml-2 cursor-pointer" src="/assets/icon/zoom.svg" alt="zoom" />
      <img class="ml-8 cursor-pointer" src="/assets/icon/notification.svg" alt="notification" />
      <img class="ml-8 cursor-pointer" src="/assets/icon/exclamation.svg" alt="exclamation" />
      <span class="ml-10">John deo</span>
      <img class="ml-4 cursor-pointer" src="/assets/icon/avatar.svg" alt="avatar" />
    </div>
  </div>
</div>

<div class=" mobileHeader items-center px-2 py-1 bg-header justify-between flex ">
  <div (click)="openSidebar(true)">
    <img src="/assets/icon/menu.svg" alt="menu" />
  </div>
  <div class="flex flex-col items-center">
    <img class="ml-2 cursor-pointer" src="/assets/icon/avatar.svg" alt="avatar" />
    <span class="text-sm font-bold">
      John Doe
    </span>
  </div>
</div>