<div class="px-6 pt-10 relative">
  <div *ngIf="isSidebar" (click)="isCloseSidebar(false)" class="items-center  absolute top-2 left-0 right-0 flex justify-end">
    <img class="h-8 " src="/assets/icon/close.svg" alt=""/>
  </div>
  <div class="flex p-2 bg-[rgba(255,255,255,0.2)] items-center mt-2 rounded-md w-full">
    <img class="mr-2" src="/assets/icon/calender.svg" alt="calender" />
    <select class="w-full outline-none bg-transparent text-white">
      <option value="volvo">Finance & Account</option>
    </select>
  </div>
</div>
