<div
   class="bg-white h-full mobileDashboard hideScroll overflow-y-scroll rounded-lg shadow-[0px_1px_2px_rgba(0,0,0,0.06)]">
   <div class="flex tabContainer border-b px-5 pt-6">
      <span [ngStyle]="{
        color: activeProjectIndex === i ? '#009688' : '#757A77',
        borderBottom: activeProjectIndex === i ? '1px solid #009688' : 'none'
      }" class="mr-4 mb-3 cursor-pointer text-sm" *ngFor="let tab of tabs; let i = index" (click)="onTabs(i)">{{ tab
         }}</span>
   </div>
   <app-filter *ngIf="activeProjectIndex == 5"></app-filter>
   <div *ngIf="activeProjectIndex == 5" class="flex socialContainer px-5 mt-3 items-center">
      <div (click)="openFilter(true)"
         class="bg-filter appFilter button ml-3 p-3 rounded-md flex items-center cursor-pointer justify-center">
         <img class="mr-1" src="/assets/icon/filter.png" alt="email" />

         <span class="text-xs"> Filter </span>
      </div>
      <input type="checkbox" class="mobileView h-4 mr-2 w-4" />
      <img class="mobileView" alt="down" src="/assets/icon/smallDown.svg" />
      <div class="bg-filter button ml-3 p-3 rounded-md flex items-center cursor-pointer justify-center">
         <img class="mr-1" src="/assets/icon/mail.svg" alt="email" />
         <span class="text-xs"> Email </span>
      </div>
      <div class="bg-filter button ml-3 p-3 rounded-md flex items-center cursor-pointer justify-center">
         <img class="mr-1" src="/assets/icon/print.svg" alt="print" />
         <span class="text-xs">Print</span>
      </div>
      <div class="bg-filter button ml-3 p-3 rounded-md flex items-center justify-center cursor-pointer">
         <img class="mr-1" src="/assets/icon/pdf.svg" alt="pdf" />
         <span class="text-xs">PDF</span>
      </div>
   </div>
   <app-table [ngStyle]="{ display: isFilter ? 'none' : '' }" *ngIf="activeProjectIndex == 5"></app-table>

   <div class="p-4" *ngIf="isFilter">
      <div class="flex-col flex">
         <span class="text-sm text-filterLabel"> Child </span>
         <select class="border outline-none border-filterBorder bg-white py-2 mt-2 rounded-md">
            <option>Select child</option>
         </select>
      </div>
      <div class="flex mt-4 flex-col">
         <span class="text-sm text-filterLabel"> Payee </span>
         <select class="border outline-none border-filterBorder bg-white py-2 mt-2 rounded-md">
            <option>Select payee</option>
         </select>
      </div>
      <div class="flex-col mt-4 flex">
         <span class="text-sm text-filterLabel"> Start Date </span>
         <input class="border outline-none border-filterBorder bg-white py-2 mt-2 rounded-md" type="date" />
      </div>
      <div class="flex mt-4 flex-col">
         <span class="text-sm text-filterLabel"> End Date </span>
         <input class="border outline-none border-filterBorder bg-white py-2 mt-2 rounded-md" type="date" />
      </div>

      <div class="flex mt-6 items-center">
         <div>
            <input class="w-4 h-4 mr-2" type="checkbox" value="" />
            <span class="text-filterText text-sm"> Include $0 accounts </span>
         </div>
         <div>
            <input class="w-4 h-4 ml-6 mr-2" type="checkbox" value="" />
            <span class="text-filterText text-sm"> Winz records </span>
         </div>
      </div>
      <div class="flex mt-4 items-center">
         <div>
            <input class="w-4 h-4 ml-6 mr-2" type="checkbox" value="" />
            <span class="text-filterText text-sm"> Monthly </span>
         </div>
         <div class="flex-1 justify-center flex">
            <input class="w-4 h-4 ml-6 mr-2" type="checkbox" value="" />
            <span class="text-filterText text-sm"> Weekly </span>
         </div>
      </div>

      <button (click)="closeFilter(false)"
         class="bg-sidebar w-full py-4 rounded-lg text-white outline-none border-none mt-6">
         Apply
      </button>
   </div>
</div>