.hideScroll::-webkit-scrollbar {
  display: none;
}

.mobileDashboard{
  max-height: 90vh;
}

.hideScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.appFilter{
  display: none;
}


@media only screen and (max-width: 768px) {
  .mobileDashboard {
    overflow-y: scroll;
    max-height: 90vh;

    .hideScroll::-webkit-scrollbar {
      display: none;
    }

    .hideScroll {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .tabContainer {
      width: 100vw;
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      >span {
        white-space: noWrap;
        font-size: 16px;
      }
    }

    .tabContainer::-webkit-scrollbar {
      display: none;
    }

    .socialContainer {
      display: flex;
      justify-content: space-between;
      margin-block: 20px;

      .mobileView{
        display: none;
      }
      .appFilter{
        display: flex;
      }

      .button {
        font-size: 30px;
        padding: 10px 15px;

        >img {
          height: 18px;
          width: 18px;
        }

        >span {
          font-size: 16px;
        }
      }
    }

  }

  
}