.table-layout {
	display: grid;
	grid-template-columns: repeat(6, 1fr) repeat(4, 2fr);
}

.table-total {
	display: grid;
	grid-template-columns: repeat(1, 2fr) repeat(4, 1fr) repeat(4, 2fr);
}

.main-container{
	display: none;
}

@media only screen and (max-width: 768px) {

	.table-container{
		display: none;
	}
	
	.main-container {
		overflow-x: scroll;
		display: flex;
		flex-direction: column;

		span {
			padding-inline: 10px;
		}

		.table-header {
			width: max-content;
			background-color: #EAECF7;
			display: flex;
			padding-block: 10px;

			>.table-title {
				display: flex;
				align-items: center;
				width: 150px;
				padding-right: 5px;
			}

			>div[data-is-long-title="true"] {
				background-color: red;
			}
		}

		.table-data {
			width: max-content;
			display: flex;
			background-color: #FAFAFA;
			flex-direction: column;
			max-height: 80vh;
			overflow-y: scroll;

			>div {
				display: flex;
				align-items: center;

				>div {
					width: 150px;
					padding-block: 22px;
				}
			}

		}

		.table-total {
			width: max-content;
			background-color: #009688;
			display: flex;
			padding-block: 12px;

			>div {
				width: 150px;

				>span {
					color: white;
					font-weight: 700;
				}
			}
		}
	}

	.pagination{
		display: flex;
		flex-direction: column;

		.number{
			margin-right: 10px;
		}

		.paginationBox{
			margin-top: 10px;
		}
	  }
}