<div class="mt-3 table-container relative">
   
        <div class="bg-iconColor px-4 py-2  table-layout">
            <div class="flex table-title  items-center" *ngFor="let tableTitle of tableTitles">
                <span class="text-sm">{{tableTitle}}</span>
                <img class="ml-2 cursor-pointer" src="/assets/icon/sort.svg" alt="sort"/>
            </div>
        </div>
        
        <div class="max-h-screen/4 overflow-scroll min-h-screen/4">
            <div  *ngFor="let table of tableData"  class="py-5 table-body px-4 table-layout">
                <span class="text-sm text-activeText ">{{table.payee}}</span>
                <span class="text-sm  text-activeText">{{table.child}}</span>
                <span class="text-sm ">{{table.threeWeeks}}</span>
                <span class="text-sm ">{{table.twoWeeks}}</span>
                <span class="text-sm ">{{table.weeks}}</span>
                <span class="text-sm ">{{table.current}}</span>
                <span class="text-sm ">{{table.pendingAmount}}</span>
                <span class="text-sm ">{{table.overPayment}}</span>   
                <span class="text-sm ">{{table.pendingCreditnote}}</span>         
                <span class="text-sm ">{{table.totalPendingAmount}}</span>         
            </div>
        </div>
  
   
    <div class="px-3 py-5 table-total bg-sidebar">
        <span class="text-white font-bold text-md">Total</span>
        <span class="text-white font-bold text-md">{{totalThreeWeeks}}</span>
        <span class="text-white font-bold text-md">{{twoWeeks}}</span>
        <span class="text-white font-bold text-md">{{weeks}}</span>
        <span class="text-white font-bold text-md">{{current}}</span>
        <span class="text-white font-bold text-md">{{pendingAmount}}</span>
        <span class="text-white font-bold text-md">{{overPayment}}</span>
        <span class="text-white font-bold text-md">{{pendingCreditnote}}</span>
        <span class="text-white font-bold text-md">{{total}}</span>
    </div>

    <div class="flex px-4 mt-3 pagination  absolute left-0 right-0 justify-between items-center">
        <div class="flex text-paginationColor  items-center">
            <img class="mr-5 number cursor-pointer" src="/assets/icon/leftArrow.svg" alt=""/>
            <span class="mr-5 number cursor-pointer">1</span>
            <span class="mx-5 number cursor-pointer">2</span>
            <span class="mx-5 number cursor-pointer">3</span>
            <span class="mx-5 number cursor-pointer">...</span>
            <span class="mx-5 number cursor-pointer">8</span>
            <span class="mx-5 number cursor-pointer">9</span>
            <span class="mx-5 number cursor-pointer">10</span>
            <img class="cursor-pointer" src="/assets/icon/rightArrow.svg" alt=""/>
        </div>
        <div class=" border rounded-lg paginationBox border-filterBorder flex">
          <div class="cursor-pointer border-r-2 text-paginationColor px-4 py-3 text-sm">10</div>
          <div class="cursor-pointer border-r-2 text-paginationColor px-4 py-3 text-sm">20</div>
          <div class="cursor-pointer border-r-2 text-paginationColor px-4 py-3 text-sm">50</div>
          <div class="cursor-pointer text-paginationColor px-4 py-3 text-sm">100</div>
        </div>
      </div>
</div> 


<div class="main-container">
	<div class="table-header">
		<div class="table-title" *ngFor="let tableTitle of tableTitles let i = index" data-is-long-title="i === 6" >
			<span>{{tableTitle}}</span>
			<img class="ml-2 cursor-pointer" src="/assets/icon/sort.svg" alt="sort"/>
	</div>
	</div>
	<div class="table-data">
		<div  *ngFor="let table of tableData">
			<div><span class="text-sm text-activeText ">{{table.payee}}</span></div>
			<div><span class="text-sm  text-activeText">{{table.child}}</span></div>
			<div><span class="text-sm ">{{table.threeWeeks}}</span></div>
			<div><span class="text-sm ">{{table.twoWeeks}}</span></div>
			<div><span class="text-sm ">{{table.weeks}}</span></div>
			<div><span class="text-sm ">{{table.current}}</span></div>
			<div><span class="text-sm ">{{table.pendingAmount}}</span></div>
			<div><span class="text-sm ">{{table.overPayment}}</span></div>
			<div><span class="text-sm ">{{table.pendingCreditnote}}</span></div>
			<div><span class="text-sm ">{{table.totalPendingAmount}}</span></div>
	</div>
	</div>
	<div class="table-total">
		<div><span class="text-md">Total</span></div>
		<div></div>
		<div><span class="text-md">{{totalThreeWeeks}}</span></div>
		<div><span class="text-md">{{twoWeeks}}</span></div>
		<div><span class="text-md">{{weeks}}</span></div>
		<div><span class="text-md">{{current}}</span></div>
		<div><span class="text-md">{{pendingAmount}}</span></div>
		<div><span class="text-md">{{overPayment}}</span></div>
		<div><span class="text-md">{{pendingCreditnote}}</span></div>
		<div><span class="text-md">{{total}}</span></div>
	</div>
</div>
<div class="flex px-4 mt-3 pagination justify-between items-center">
    <div class="flex text-paginationColor  items-center">
        <img class="mr-5 number cursor-pointer" src="/assets/icon/leftArrow.svg" alt=""/>
        <span class="mr-5 number cursor-pointer">1</span>
        <span class="mx-5 number cursor-pointer">2</span>
        <span class="mx-5 number cursor-pointer">3</span>
        <span class="mx-5 number cursor-pointer">...</span>
        <span class="mx-5 number cursor-pointer">8</span>
        <span class="mx-5 number cursor-pointer">9</span>
        <span class="mx-5 number cursor-pointer">10</span>
        <img class="cursor-pointer" src="/assets/icon/rightArrow.svg" alt=""/>
    </div>
    <div class=" border rounded-lg paginationBox border-filterBorder flex">
      <div class="cursor-pointer border-r-2 text-paginationColor px-4 py-3 text-sm">10</div>
      <div class="cursor-pointer border-r-2 text-paginationColor px-4 py-3 text-sm">20</div>
      <div class="cursor-pointer border-r-2 text-paginationColor px-4 py-3 text-sm">50</div>
      <div class="cursor-pointer text-paginationColor px-4 py-3 text-sm">100</div>
    </div>
  </div> 


 